@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');

:root {
  --cor-azul-escuro: #2c3e50;
  --cor-azul-claro: #edf2f7;
  --cor-texto-escuro: #34495e;
  --cor-texto-claro: #ffffff;
  --cor-texto-suave: #7f8c8d;
  --cor-borda: #e2e8f0;
  --cor-fundo: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  font-family: 'Nunito', sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto-escuro);
}

button {
  font-family: 'Nunito', sans-serif;
}