<div class="content-box">
    <h1>Disciplinas</h1>
    <div class="actions-header">
        <button routerLink="/disciplinas/nova" class="primary-button">Adicionar Nova Disciplina</button>
        <button (click)="ordenarPorNome()">Ordenar de A-Z</button>
    </div>

    <ul class="disciplinas-list">
        <li *ngFor="let disciplina of disciplinas">
            <span>
                <strong (click)="selecionarDisciplina(disciplina)" style="cursor: pointer; user-select: none;">
                    {{ disciplina.nome }}
                </strong>
                <br>
                <small *ngIf="disciplinaSelecionada === disciplina">
                    {{ disciplina.descricao }}
                </small>
            </span>

            <div class="actions-group">
                <a [routerLink]="['/disciplinas', disciplina.id]" title="Editar">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a (click)="excluir(disciplina)" title="Excluir" style="cursor: pointer;">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
        </li>
    </ul>
</div>