<main>

  <app-lista-de-disciplinas 
    [disciplinas]="disciplinas" 
    [editando]="editando" 
    [selecionado]="selecionado"
    (onEditar)="editar($event)" 
    (onExcluir)="excluir($event)" 
    (onSelecionar)="selecionar($event)" 
  />

   <app-editor-de-disciplinas
    [nome]="nome"
    [descricao]="descricao"
    [disciplinas]="disciplinas"
    [editando]="editando"
    (onSalvar)="salvar($event)"
    (onEditar)="editar($event)" 
    (onCancelar)="cancelar()"
  />

  </main>
  <router-outlet />
